<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skeleton HTML</title>

    <!-- CSS -->
    <link href="dist/css/style-index.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

</head>
<body>
<div class="container">
    <div class="main">
        <h1><img src="images-index/logo.png" alt="logo"/></h1>
        <figure>
            <a href="homepage.php"><img src="images-index/homepage.jpg" alt="Homepage thumbnail"/></a>
            <figcaption>Homepage</figcaption>
        </figure>
    </div>
    <div class="content">
        <!--div class="col-md-3">
            <figure>
                <a href="services-webs.php"><img src="images-index/webs.jpg" alt="thumbnail"/></a>
                <figcaption>Služby - weby</figcaption>
            </figure>
        </div-->
    </div>
</div>
<script type="text/javascript" src="js/scripts.min.js"></script>
</body>
</html>