.carousel {
  position: relative;
  padding: 0 70px 50px;
  @include media-breakpoint-down(xs) {
    padding: 0 30px;
  }
}

.carousel-control-prev, .carousel-control-next {
  left: 0;
  width: auto;
    opacity: 1;
  span {
    width: 22px;
    img {
      width: 100%
    }
  }
  &:hover{
    opacity: 0.7;
  }
}

.carousel-control-next {
  left: auto
}