.credential {
  .credential-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .head-about {
        p {
          margin-bottom: 0;
        }
      }
    }
    .head-about {
      h4 {
        color: $turquoiseColor;
        font-family: MontserratLight;
        @include rem(font-size, 26px);
        margin-bottom: 0;
        + p {
          font-family: MontserratSemiBold;
        }
      }
    }
    .rating {

      ul {
        margin: 0;
        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          width: 20px;
          &:before {
            display: none;
          }
          &.turquoise {
            span {
              color: $turquoiseColor;
            }
          }
          img {
            width: 100%
          }
        }
      }
    }
  }
  .credential-content {
    padding-top: 15px;
    p {
      margin-bottom: 20px;
      &.author {
        margin: 0;
        font-style: italic;
      }
    }
  }
}