ul {
  li {
    list-style: none !important;
    padding-left: 40px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      background-color: $defaultTextColor;
      display: block;
      border-radius: 100%;
      left: 0;
      top: 8px;
    }
    strong {
      font-family: MontserratSemiBold;
    }
    + li {
      margin-top: 5px;
    }
  }
  &.socials {
    li {
      display: inline-block;
      span {
        @include rem(font-size, 32px)
      }
      +li{
        margin-left: 5px;
      }
    }
  }
}