@import "rem";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  @include rem-baseline;
  font-family: $defaultFontType;
  background-color: $backgroundColor;
  color: $defaultTextColor;
  position: relative;
  @include media-breakpoint-down(sm) {
    height: auto;
  }
}

body{
  padding-top: 70px;
}


.modal-backdrop{
  display: none !important;
}

a, .btn {
  &:focus {
    outline: none !important;
  }
}
