@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext);
@import "rem";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: $backgroundColor;
  @include rem-baseline;
  height: 100%;
  @media screen and (max-width: $screen-sm) {
    height: auto;
  }

}

