//========  GLOBAL VARIABLES ======== //
$baseFontSize: 				16;
$backgroundColor: 			#ffffff;
$footerBackgroundColor:		#000000;
$defaultTextColor: 			#000000;
$placeholderColor: 			#434343;
$pushHeight: 				388px;


//========  COLORS ======== //
$blackColor: 				#000000;
$whiteColor: 				#ffffff;
$alertSuccesBg: 			#27ae62;
$alertDangerBg: 			#e84c3d;
$alertInfoBg: 			    #3598dc;

$greyColor: 				#868383;
