section {
  padding: 50px 0;
  position: relative;
  &.top_section {
    padding: 0;
  }
  + .collapse-btn {
    margin-bottom: 20px;
    .btn {
      i {
        margin-left: 10px;
        position: relative;
        top: -1px;
      }
      &.collapsed {
        span {
          transform: rotate(0);
        }
      }
    }
  }
}

.flat_situation {
  position: relative;
  .img-wrapper {
    width: 100%;
    img {
      width: 100%
    }
  }
  .flat-detail {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 82, 86, 0.6);
    &.show {
      display: flex !important;
    }
    .flat-detail-modal {
      background-color: $whiteColor;
      padding: 50px 25px;
      position: relative;
      display: block;
      .flat-detail-modal--close {
        position: absolute;
        right: 20px;
        top: 15px;
        color: $turquoiseColor;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      h4 {
        margin-bottom: 0;
        margin: 0 auto;
        @include rem(font-size, 26px);
        text-align: center;
        max-width: 70%;
      }
      ul {
        margin-top: 30px;
        text-align: center;
        width: 100%;
        li {
          list-style: none;
          display: inline-block;
          padding: 0;
          + li {
            margin-left: 15px;
          }
          &:before {
            display: none;
          }
          a {
            display: block;
            text-align: center;
            text-transform: uppercase;
            color: $defaultTextColor;
            .img-wrapper {
              position: relative;
              max-width: 130px;
              border-radius: 100%;
              border: 2px solid $turquoiseColor;
              overflow: hidden;
              margin-top: 0;
              &:before {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transition: all .3s ease;
                content: "";
                background-color: rgba(0, 0, 0, 0.2);
                width: 100%;
                height: 100%;
              }
            }
            img {
              width: 100%;
            }
            span {
              display: block;
              margin-top: 15px;
            }
            &:hover {
              text-decoration: none;
              .img-wrapper {
                &:before {
                  opacity: 1;
                  transition: all .3s ease;
                }
              }
            }
          }
        }
      }
    }
  }
  .flat-label {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $whiteColor;
    color: $turquoiseColor;
    font-family: MontserratSemiBold;
    padding: 8px 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      cursor: pointer;
      background-color: $turquoiseColor;
      color: $whiteColor;
    }
    &.flat-label--heat {
      top: 16vw;
      left: 2.5vw;
    }
    &.flat-label--carpet {
      top: 33vw;
      left: 13vw;
    }
    &.flat-label--window {
      top: 8vw;
      left: 30vw;
    }
    &.flat-label--floor {
      top: auto;
      bottom: 3vw;
      left: 48vw;
    }
    &.flat-label--pavement {
      top: auto;
      bottom: 10vw;
      left: 58vw;
    }
    &.flat-label--oven {
      top: 25vw;
      right: 32vw;
      left: auto;
    }
    &.flat-label--tiling {
      top: 10vw;
      right: 12vw;
      left: auto;
    }
    &.flat-label--sink {
      top: 14vw;
      right: 2vw;
      left: auto;
    }
  }

}

.results {
  color: $whiteColor;
  padding: 0;
  .bg-turquoise {
    padding: 50px 0;
    h2 {
      margin-bottom: 50px;
      + p {
        max-width: 70%;
        margin: 0 auto 50px;
        @include media-breakpoint-down(sm) {
          max-width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
  .bg-grey {
    padding: 25px 0;
    p {
      margin: 0;
      text-align: center;
      @include rem(font-size, 36px);
      color: $whiteColor;
      > span {
        margin-left: 15px;
        span {
          font-family: MontserratSemiBold;
          border: 1px solid $whiteColor;
          padding: 4px 4px 4px 8px;
          width: 40px;
          line-height: 1.3em;
          text-align: center;
          display: inline-block;
          + span {
            padding: 4px 8px 4px 4px;
            margin-left: -1px;
          }
          &:last-child {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.steam {
  background-image: url("../img/steam.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 200px) bottom;
  padding-bottom: 80px;
  padding-top: 30px;
  background-size: contain;
}

.speed {
  background-image: url("../img/speed.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 250px) top;
  padding-bottom: 80px;
  padding-top: 80px;
  background-size: contain;
  position: relative;
}

.carpet {
  background-image: url("../img/carpet.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) top;
  padding-bottom: 80px;
  padding-top: 80px;
  background-size: contain;
}

.calc {
  background-image: url("../img/calculate_bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) 90px;
  h2 {
    margin-bottom: 120px;
  }
}

.calculate {
  form {
    .row {
      background-color: $whiteColor;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      .col-lg-6 {
        padding: 0;
        + .col-lg-6 {
          border-left: 1px solid $borderColor;

        }
      }
      .form-group {
        padding: 15px 30px;
        min-height: 110px;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        .inputs {
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: space-between;
        }
        .group {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 45%;
          span {
            margin-bottom: 5px;
            @include rem(font-size, 12px)
          }
        }
        label {
          font-family: MontserratSemiBold;
          width: 40%;
          margin: 0;
          position: relative;
          top: 12px;
        }
        + .form-group {
          border-top: 1px solid $borderColor;
        }
        .radio-group {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
    .finish {
      margin-top: 25px;
      margin-bottom: 50px;
      padding-left: 138px;
      @include media-breakpoint-down(lg) {
        padding-left: 50px;
      }
      .btn {
        margin-left: 30px;
        text-transform: uppercase;
        font-family: MontserratRegular;
        @include rem(font-size, 18px)

      }
      p {
        &.error {
          margin-left: 15px;
          color: $redColor;
          margin-bottom: 0;
          @include rem(font-size, 14px);
          @include media-breakpoint-down(md) {
            margin-left: 0px;
            margin-top: 15px;
          }
        }
      }
    }
  }
}