//ROBOTO
@font-face {
  font-family: MontserratThin;
  src: url("../fonts/montserrat/Montserrat-Thin.ttf");
}
@font-face {
  font-family: MontserratLight;
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: MontserratMedium;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: MontserratSemiBold;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: MontserratBlack;
  src: url("../fonts/montserrat/Montserrat-Black.ttf");
}
